.savedNoteContainer {
  /*border: 2px solid red;*/
  width: 47%;
  /*height: 95%;*/
  /*text-align: center;*/
  margin: 0 15px 0 0;
  padding: 0 2px;
}

.displaySavedNoteContent {
  /*border: 1px solid black;*/
  background: white;
  /*width: 80%;*/
  /*margin: auto;*/
  /*overflow-y: scroll;*/
  height: 80%;
  overflow-y: scroll;
  /*height: 90%;*/
}
.titleButtonSaved {
  /*background-color: pink;*/
  padding: 10px 0;
  text-align: center;
  /*margin-bottom: 6px;*/
}
.displayNoteButton {
  font-size: 13px;
  margin: 10px;
}

#savedNoteHeader {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 20px;
}
