.savedNoteContainer {
  width: 47%;
  margin: 0 15px 0 0;
  padding: 0 2px;
}

.displaySavedNoteContent {
  background: white;
  height: 75%;
  overflow-y: scroll;
}

.titleButtonSaved {
  text-align: center;
  margin: 0 0 -10px 0;
}

.displayNoteButton {
  font-size: 13px;
  margin-top: 10px;
}

#savedNoteHeader {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 20px;
}

#savedNoteTitle {
  font-size: 20px;
}

#styleDiv {
  display: inline;
}

.savedWrapper {
  padding: 5px 8px 10px 8px;
}

/*attribution: https://css-tricks.com/snippets/css/style-placeholder-text/*/
::-webkit-input-placeholder {
    color: lightgrey;
}

:-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: lightgrey;
}

