.noteSnippet {
  background-color: lightgrey;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.snippetTitle {
  height: 15px;
  font-size: 14px;
}

.noteSnippet:hover {
  background-color: #f6f6f6;
}

.noteSnippet:active {
  background-color: lightgreen;
}
