.active {
  color: green;
}

.appContainer {
  /*background-color: lightgrey;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 550px;
}

.asideContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*background-color: red;*/
  width: 150px;
}

.savedNewNoteContainer {
  /*background-color: orange;*/
  height: 100%;
  width: 78%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
