.noteListDiv {
  /*background-color: lightblue;*/
  border: 1px solid black;
  width: 150px;
  display: inline-block;
  text-align: center;
}

.allNotesContainer {
  overflow-y: scroll;
  height: 200px;
}
