.topicListDiv {
  /*background-color: lightblue;*/
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  /*width: 100px;*/
  display: inline-block;
  text-align: center;
  padding: 2px;
  /*height: 100px;*/
}

.topicHeader {
  /*margin-top: -10px;*/
}

.buttonTopics {
  /*background-color: blue;*/
  font-size: 11px;
  margin: 0.5px;

}

.buttonTopics:active {
  /*background-color: lightgreen;*/
}
