.topicListDiv {
  /*background-color: lightblue;*/
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  text-align: center;
  padding: 2px;
}

.buttonTopics {
  /*background-color: blue;*/
  font-size: 14px;
  margin: 0.5px;
}

.topicContainer {
  height: 81%;
  overflow-y: scroll;
}
