.noteContainerDisplay {
  display: inline-block;
  width: 350px;
  height: 400px;
  margin-left: 100px;
  background-color: lightgreen;
}

.savedNewNoteContainer {
  background-color: orange;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
